[submodule "libs/googlebenchmark"]
	path = libs/googlebenchmark
	url = https://github.com/google/benchmark.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
