name: build

on: [push, pull_request]

jobs:
    debian:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                include:
                    - version: "11"
                      image: debian:bullseye-slim
                    - version: "12"
                      image: debian:bookworm-slim
                    - version: "13"
                      image: debian:trixie-slim
        container:
            image: ${{ matrix.image }}
        name: debian-${{ matrix.version }}
        steps:
            - name: Install build tools
              run: apt update && apt install -y build-essential gcc g++ make cmake git
            - uses: actions/checkout@v3
              with:
                  submodules: 'recursive'
            - name: Configure
              run: cmake -DCMAKE_BUILD_TYPE=Release -B cmake-build-release .
            - name: Build
              run: cmake --build ./cmake-build-release --target all -j 8

    native:
        strategy:
            fail-fast: false
            matrix:
                include:
                    - os: ubuntu-latest
                      target: all
                    - os: macos-latest
                      target: all
                    - os: windows-latest
                      target: ALL_BUILD
        runs-on: ${{ matrix.os }}
        name: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: 'recursive'
            - name: Install build tools
              if: matrix.os == 'ubuntu-latest'
              run: |
                  sudo apt update
                  sudo apt install -y build-essential gcc cmake g++ make
            - name: Configure
              run: cmake -DCMAKE_BUILD_TYPE=Release -B cmake-build-release .
            - name: Build
              run: cmake --build ./cmake-build-release --target ${{ matrix.target }} -j 8
